resources/repositories/jex_it/en-eurovoc-1.0/resources/ThesaurusStructure/descripteur_thesaurus.dtd


<!-- DTD pour le fichier des relations Descripteur-Thesaurus  -->

<!ELEMENT DESCRIPTEUR_THESAURUS (RECORD+)>

<!ELEMENT RECORD (THESAURUS_ID, DESCRIPTEUR_ID, TOPTERM)>

<!ELEMENT THESAURUS_ID		(#PCDATA)>

<!ELEMENT DESCRIPTEUR_ID	(#PCDATA)>

<!ELEMENT TOPTERM				(#PCDATA)>

<!ATTLIST DESCRIPTEUR_THESAURUS

			VERSION				CDATA		#REQUIRED >
