resources/repositories/jex_it/en-eurovoc-1.0/resources/ThesaurusStructure/docum_lib.dtd


<!-- DTD pour le fichier des docum_lib  -->

<!ELEMENT DOCUM_LIB (RECORD+)>

<!ELEMENT RECORD (DOCUM_ID, DOCUM_LIB_ID, DOCUM_TEXT, DOCUM_TYPE, DOCUM_LANG)>

<!ELEMENT DOCUM_ID			(#PCDATA)>

<!ELEMENT DOCUM_LIB_ID			(#PCDATA)>

<!ELEMENT DOCUM_TEXT		(#PCDATA)>

<!ELEMENT DOCUM_TYPE		(#PCDATA)>

<!ELEMENT DOCUM_LANG		(#PCDATA)>

<!ATTLIST DOCUM_LIB

			VERSION			CDATA		#REQUIRED >
