resources/repositories/jex_it/en-eurovoc-1.0/resources/ThesaurusStructure/domaines.dtd


<!-- DTD pour la liste des domaines et leurs microthesaurus -->

<!ELEMENT DOMAINES (DOM+)>

<!ELEMENT DOM (MTH+)>

<!ELEMENT MTH	(#PCDATA)>

<!ATTLIST DOMAINES

			LNG		CDATA		#REQUIRED
			VER		CDATA		#REQUIRED >

<!ATTLIST DOM

			ID		CDATA		#REQUIRED
			LIB		CDATA		#REQUIRED >

<!ATTLIST MTH

			ID		CDATA		#REQUIRED >

			