resources/repositories/jex_it/en-eurovoc-1.0/resources/ThesaurusStructure/permutation.dtd


<!-- DTD pour le fichier des permutations  -->

<!ELEMENT PERMUTATION (RECORD+)>

<!ELEMENT RECORD (DESCRIPTEUR_ID, PERM)>

<!ELEMENT PERM (PERM_EL+)>

<!ELEMENT DESCRIPTEUR_ID	(#PCDATA)>

<!ELEMENT PERM_EL				(#PCDATA)>

<!ATTLIST PERMUTATION

			LNG					CDATA		#REQUIRED
			VERSION				CDATA		#REQUIRED >
