resources/repositories/jex_it/en-eurovoc-1.0/resources/ThesaurusStructure/used_for.dtd


<!-- DTD pour le fichier des used-for  -->

<!ELEMENT USED_FOR (RECORD+)>

<!ELEMENT RECORD (DESCRIPTEUR_ID, UF)>

<!ELEMENT UF (UF_EL+)>

<!ELEMENT DESCRIPTEUR_ID	(#PCDATA)>

<!ELEMENT UF_EL				(#PCDATA)>

<!ATTLIST USED_FOR

			LNG					CDATA		#REQUIRED
			VERSION				CDATA		#REQUIRED >
